*.sqlite3-*
.bundle/gems
.idea
.polyglot.Mavenfile
.rspec_status
.ruby-version
Gemfile.lock
!spec/rails7_stub/Gemfile.lock
build.log
coverage*
doc
integration/**/*.iml
lib/warbler_jar.jar
log
nbproject
out/
pkg
pom.warbler.gemspec.xml
target/
vendor/
warbler-*.gem
warbler.iml
warbler.ipr
warbler.iws
